server="http://cutlist.at/"	# Cutlist URL
UseLocalCutlist=no	# Lokale Cutlists verwenden?
HaltByErrors=no		# Bei Fehlern anhalten?
toprated=no			# Die Cutlist mit der besten User-Bewertung benutzen?
ShowAllCutlists=yes	# Auswahl mehrerer Cutlists anzeigen?
tmp="/tmp/otrcut"	# Zu verwendender Tmp-Ordner, in diesem Ordner wird dann noch ein Ordner "otrcut" erstellt.
overwrite=no		# Bereits vorhandene Dateien überschreiben
output=cut			# Ausgabeordner
bewertung=no		# Bewertungsfunktion benutzen
verbose=yes			# Ausführliche Ausgabe von ffmpeg anzeigen
warn=yes			# Warnung bezüglich der Löschung von $tmp ausgeben
user=otrcut			# Benutzer der zum Bewerten benutzt wird
vcodec=copy			# Input-Video nur kopieren.
acodec=copy			# Input-Audio nur kopieren.
copy=no				# Wenn $toprated=yes, und keine Cutlist gefunden wird, $film nach $output kopieren
move=no				# Wenn $toprated=yes, und keine Cutlist gefunden wird, $film nach $output verschieben



# Diese Variablen setzen, wenn der Decoder verwendet werden soll.
email=""			# Die EMail-Adresse mit der Sie bei OTR registriert sind
password=""			# Das Passwort mit dem Sie sich bei OTR einloggen
decoder="otrdecoder" # Pfad zum decoder, z.B. /home/benutzer/bin/otrdecoder
